.employees--header {
    display: flex;
    flex-direction: row;

    & > i {
        font-size: 1.6rem;
        margin-right: 15px;
        color: #5A7002;
    }
}

.tbl {
    font-size: 1rem;
}

.tbl-header {
    display: block;
    cursor:pointer;
}

.fa-eye {
    font-size: 1rem;
    &:hover {
        color: green;
    }
}

.details-label {
    font-weight: 700;
    font-size: 1rem;
}

.details-value {
    font-size: 1rem;
}

.sel-numberItems {
    font-size: 0.9rem;
}

.inputSearch {
    font-size: 0.9rem;
    border: 1px solid #BBBBBB;
}

.table-footer {
    border-top: 2px solid #000000;
}

.fa-chevron-left, .fa-chevron-right, .fa-step-backward, .fa-step-forward {
    font-size: 1.1rem;
    padding: 0 10px;
    color: #ABABAB;

    &:hover {
        color: #198754;
    }
}

.btnPage {
    font-size: 1.1rem;
    color: #ABABAB;
    border: none;
    &:hover {
        background: #198754;
        color: #FFFFFF;
    }
}