$enable-grid-classes: "off";

.newemployee--header {
    display: flex;
    flex-direction: row;

    & > i {
        font-size: 1.6rem;
        margin-right: 15px;
        color: #5A7002;
    }
}

.form-wrapper {
    background: #E9E9E9;
    padding: 20px;
}

label {
    font-weight: bold;
}

hr {
    padding: 1px;
    color: #666666;
}

.form--address {
    font-size: 1.2rem;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #0000;
    padding-bottom: 5px;
}

.react-datepicker__input-container input {
    border: 1px solid #CED4DA;
    border-radius: 5px;    
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;    
}

.employee-pic {
    margin-top: 20px;
    opacity: 50%;
    border-radius: 25px;
    object-fit: cover;
    height: 150px;
    width: auto;
}

.job-datas {
    background: rgba(148, 175, 17, 0.6);
}

.icoBack {
    padding: 3px 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 50%;    
    border-bottom: 1px solid #0000;
    & > .fa-angle-left {
        padding-right: 10px;
    }
    &:hover {
        background: #666666;
        border-radius: 10px;
        color: white;
        opacity: 100%;
    }
}

.btnUpdate {
    font-weight: 700;
}

.errorMsg {
    background: rgb(179, 8, 8);
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}