header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
    border-radius: 0 0 20px 20px;
    background: linear-gradient(to left, #555A5B 40%, #FFFFFF 75%, );
}

.logoContainer {
    & > div > h1 {
        font-weight: 700;
        font-size: 4rem;
        font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
    }
    
    & > div > img {    
        width:170px;
        height: auto;
        object-fit: cover;
    }
}

.link-signOut{
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: 'Fjalla One', Arial, Helvetica, sans-serif;
}

.header-signOut {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-right: 15px;
    margin-bottom: 10px;
    &:hover {
        color: orange;
    }
}

.signOut-text {
    padding-left: 10px;
    font-size: 1rem;
    font-weight: 700;
}

@media (max-width:720px) {

    .logoContainer {
        & > div > h1 {      
            font-size: 2.5rem;
        }      
        & > div > img {    
            width:100px;
        }
    }
  }