
.loginForm {
    padding: 20px;
    font-size: 1rem;    
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
    color:#FFFFFF;  
}

.sign-in-icon {
    font-size: 3rem;
}

.loginTitle {
    font-size: 2rem;
    font-weight: 700;  
}

.btnSignIn {
    width: 100%;
}

.error-message {
    padding: 5px;
    margin-bottom: 20px;
    background-color: red;
    font-size: 0.8rem;
}


@media (max-width:720px) {
    .sign-in-icon {      
        font-size: 2rem;
    }
    .loginTitle {
        font-size: 1.3rem;
    }
}