@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oxygen:wght@400;700&display=swap');

body {
    margin:0;
    padding:0;
    height: 100vh;
    background-color:"#DCDCDC";
    font-family: 'Oxygen', Arial, Helvetica, sans-serif;
}